# don't include the data.sqlite db in module
data.sqlite

# ignore build and distribution-related stuff
build/*
dist/*
*.egg*
*.pyc

# ignore sublime project files
*.sublime*

# ignore cache stuff
*__pycache__*
